.pageContainer {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #010101;
  gap: 8px;
}

.linkContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.linkContainer:hover,
.linkContainer:focus {
  .icon {
    stroke: var(--link-focus-color);
  }
  .link {
    color: var(--link-focus-color);
  }
}

